*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
//______________________________________________________________

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

li a {
	text-decoration: none;
	list-style: none;
}

.language {
	position: relative;
	margin-left: 20px;
  min-height: 20px;
  max-width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .lang-btn {
    cursor: pointer;
    padding-right: 25px;
    min-height: 25px;
    min-width: 80px;
    background: #fff url('../ico/active.svg') 45px 0 no-repeat;
    border: 1px solid #000;
    border-top: none;
    border-bottom: none;
    transition: all 0.3s ease 0s;
  }
  .lang-btn-active {
    background: #fff url('../ico/active-none.svg') 45px 0 no-repeat;
  }
  .lang {
    display: none;
  }
  .lang-active {
		position: absolute;
		border-radius: 5px;
		background-color: #fff;
		padding: 5px 10px;
		margin-top: 25px;
    display: inline-block;
    list-style: none;
    text-align: left;
    li a {
      display: inline-block;
      margin-top: 10px;
      color: #000;
      transition: all 0.2s ease 0s;
    }
    li a:hover {
      transform: scale(1.1);
    }
  }
}

header {
	position: fixed;
	z-index: 100;
	font-family: 'Montserrat';
	width: 100%;
	min-height: 80px;
	background-color: #ffffff;
	border-bottom: 1px solid #000000;
	.sub-header {
		max-width: 1060px;
		min-height: 80px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			width: 50%;
			display: flex;
			align-items: center;
			.logo-text {
				font-size: 29px;
				font-weight: bold;
			}
			.phone-text {
				margin-left: 20px;
				font-size: 13px;
				font-weight: 400;
			}
		}
		.menu-nav {
			width: 50%;
			.menu-ul {
				width: 100%;
				display: flex;
				justify-content: space-between;
				li a {
					display: inline-block;
					font-size: 13px;
					font-weight: 600;
					color: black;
					transition: all 0.2s ease 0s;
				}
				li a:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

//111111111111111111111111111111111111111111111111111111111111111111

.container-1 {
  font-family: 'Roboto';
  width: 100%;
  min-height: 580px;
  background: url('../img/kompaniya.png') top/cover no-repeat;
  background-attachment: fixed;
  .list-1 {
    max-width: 1060px;
    min-height: 580px;
    margin: 0 auto;
    .content {
      width: 100%;
      min-height: 580px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin-top: 80px;
        color: white;
        font-size: 30px;
      }
      h2 {
        margin-top: 20px;
        color: white;
        font-size: 18px;
      }
      p {
        margin-top: 15px;
        color: white;
        font-size: 16px;
        line-height: 25px;
      }
    }
  }
}

//2222222222222222222222222222222222222222222222222222222222222

.container-2 {
  font-family: 'Roboto';
  width: 100%;
  min-height: 500px;
  .list-2 {
    max-width: 1060px;
    min-height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .content {
      width: 100%;
      h1 {
        text-align: center;
        font-size: 30px;
        color: #0f5f5c;
      }
      .div-squad {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .joyce, .angela, .james {
          width: 30%;
          img {
            max-width: 100%;
          }
          .name {
            margin-top: 15px;
            font-size: 15px;
            color: #0f5f5c;
            font-weight: 500;
          }
          .professional {
            margin-top: 10px;
            font-size: 14px;
            line-height: 22px;
            color: #83a7a5;
            font-weight: 400;
          }
        }
      }
    }
  }
}

//333333333333333333333333333333333333333333333333333333333

.container-3 {
  font-family: 'Roboto';
  width: 100%;
  max-height: 600px;
  .div-office {
    max-width: 1060px;
    min-height: 100px;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    h1 {
      font-size: 30px;
      color: #0f5f5c;
    }
  }
  .list-3 {
    max-width: 1060px;
    min-height: 500px;
    margin: 0 auto;
    .content {
      width: 100%;
      min-height: 500px;
      display: flex;
			justify-content: space-between;
			align-items: center;
      img {
				margin-top: 15px;
        width: 48%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      }
    }
  }
}

//444444444444444444444444444444444444444444444444444

.container-5 {
	font-family: "Roboto";
	width: 100%;
	min-height: 500px;
	.list-5 {
		max-width: 1060px;
		min-height: 500px;
		margin: 0 auto;
		.content {
			width: 100%;
			min-height: 500px;
			display: flex;
			justify-content: center;
			align-items: center;
			.pricing {
				min-width: 400px;
				min-height: 400px;
				display: flex;
				justify-content: space-around;
				border: 1px solid black;
				border-top: none;
				border-bottom: none;
				.basic, .plus, .premium {
					width: 30%;
					min-height: 400px;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					align-items: center;
					text-align: center;
					h1 {
						font-size: 20px;
						color: #6fb048;
						font-weight: 500;
					}
					p {
						font-size: 14px;
						color: #83a7a5;
						line-height: 20px;
						font-weight: 400;
					}
					h2 {
						padding: 10px 20px;
						background-color: #3a3a3a;
						color: #ffffff;
						border-radius: 5px;
					}
					button {
						border-radius: 5px;
						color: white;
						min-width:100px;
						min-height: 30px;
						background-color: #6fb048;
						transition: all 0.2s ease 0s;
					}
					button:hover {
						background-color: #5b923b;
					}
					button:active {
						transform: scale(0.9);
					}
				}
			}
		}
	}
}

//555555555555555555555555555555555555555555555555555555555555555

.container-6 {
	font-family: 'Roboto';
	width: 100%;
	min-height: 400px;
	.project-get {
		max-width: 1060px;
		min-height: 100px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #d9d9d9;
		p {
			font-size: 32px;
			color: #0f5f5c;
			font-weight: 300;
		}
	}
	.list-6 {
		max-width: 1060px;
		min-height: 400px;
		margin: 0 auto;
		.content {
			width: 100%;
			min-height: 400px;
			.div-form {
				width: 100%;
				min-height: 400px;
				display: flex;
				flex-direction: column;
				align-items: flex-end;
				justify-content:  center;
				.form-label {
					font-size: 20px;
					font-weight: 600;
					margin-bottom: 20px;
					color: #0f5f5c;
				}
				.form-input {
					font-size: 16px;
					width: 50%;
					min-height: 40px;
					border-radius: 7px;
					box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
					padding: 0 10px;
					margin-bottom: 20px;
				}
				.form-btn {
					min-width: 200px;
					min-height: 40px;
					background-color: #6fb048;
					color: #ffffff;
					font-size: 16px;
					border-radius: 5px;
					cursor: pointer;
					transition: all 0.2s ease 0s;
				}
				.form-btn:hover {
					background-color: #5b923b;
				}
				.form-btn:active {
					transform: scale(0.9);
				}
			}
		}
	}
}


//FOOTER--------------------------------------------//

footer {
	font-family: 'Montserrat';
	width: 100%;
	min-height: 90px;
	background-color: black;
	.sub-footer {
		max-width: 1060px;
		min-height: 90px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		a {
			color: #ffffff;
		}
		p {
			color: #ffffff;
		}
	}
}

//------------------------------------------------------//
//-------------------------MEDIA-----------------------//
//----------------------------------------------------//

@media (max-width: 1280px) {
	header, footer {
		.sub-header, .sub-footer {
			max-width: 840px;
		}
	}
	.container-1, .container-2, .container-3, .container-4, .container-5, .container-6 {
		.list-1, .list-2, .list-3, .list-4, .list-5, .list-6 {
			max-width: 840px;
		}
	}
}

//1280px----------------------------------------------//

@media (max-width: 960px) {
	footer {
		width: 100%;
		background-color: black;
		.sub-footer {
			max-width: 95%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			a {
				color: #ffffff;
			}
			p {
				color: #ffffff;
			}
		}
	}
	header {
		.sub-header {
			max-width: 720px;
		}
	}
	.container-1, .container-2, .container-3, .container-4, .container-5, .container-6 {
		.list-1, .list-2, .list-3, .list-4, .list-5, .list-6 {
			max-width: 720px;
		}
	}
}

//PHONE----------------------------------------------//

@media (max-width: 767px) {
	header {
		.sub-header {
		  width: 95%;
			min-height: 80px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			.logo {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			.menu-nav {
				width: 100%;
				.menu-ul {
					li a {
						font-size: 12px;
					}
					li a:focus {
						transform: scale(1.1);
					}
				}
			}
		}
	} //CONTAINER-1--------------------------------//
	.container-1 {
	  background: url('../img/kompaniya.png') center/cover no-repeat;
	  .list-1 {
	    max-width: 95%;
	    .content {
	      h1 {
	        font-size: 25px;
	      }
	      h2 {
	        font-size: 16px;
	      }
	      p {
	        font-size: 14px;
	        line-height: 22px;
	      }
	    }
	  }
	}

	//CONTAINER-2--------------------------------//
	.container-2 {
	  .list-2 {
	    max-width: 95%;
	    .content {
	      width: 100%;
	      h1 {
					margin-top: 10px;
	        text-align: center;
	        font-size: 30px;
	        color: #0f5f5c;
	      }
	      .div-squad {
	        margin-top: 30px;
	        width: 100%;
					min-height: 500px;
	        display: flex;
					flex-direction: column;
	        justify-content: space-around;
					align-items: center;
	        .joyce, .angela, .james {
						width: 100%;
						min-height: 300px;
						display: flex;
						flex-direction: column;
						align-items: center;
						text-align: center;
	          img {
							max-width: 100%;
	          }
	        }
	      }
	    }
	  }
	}

	//CONTAINER-3--------------------------------//
	.container-3 {
	  width: 100%;
	  max-height: 1000px;
	  .div-office {
	    width: 100%;
			text-align: center;
	    h1 {
	      font-size: 30px;
	      color: #0f5f5c;
	    }
	  }
	  .list-3 {
	    width: 95%;
	    max-height: 1000px;
	    .content {
	      width: 100%;
	      min-height: none;
	      display: flex;
				flex-direction: column;
	      justify-content: space-around;
	      align-items: center;
	      img {
					margin-top: 15px;
	        max-width: 100%;
	        box-shadow: 0 0 10px rgba(0, 0, 0, 0);
	      }
	    }
	  }
	}

	//CONTAINER-4--------------------------------//

	//CONTAINER-5--------------------------------//
	.container-5 {
		width: 100%;
		min-height: 500px;
		.list-5 {
			width: 100%;
			min-height: 500px;
			margin: 0 auto;
			.content {
				width: 100%;
				min-height: 500px;
				display: flex;
				justify-content: center;
				align-items: center;
				.pricing {
					min-width: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-around;
					border: none;
					.basic, .plus, .premium {
						width: 100%;
						min-height: 250px;
						border-bottom: 1px solid black;
					}
					.premium {
					border-bottom: none;
					}
				}
			}
		}
	}
	//CONTAINER-6--------------------------------//
	.container-6 {
		width: 100%;
		min-height: 400px;
		.project-get {
			max-width: 100%;
			min-height: 100px;
			text-align: center;
		}
		.list-6 {
			max-width: 95%;
			min-height: 400px;
			margin: 0 auto;
			.content {
				.div-form {
					.form-label {
					}
					.form-input {
						width: 100%;
					}
					.form-btn {
						margin: 0 auto;
					}
					.form-btn:hover {
						background-color: #5b923b;
					}
					.form-btn:active {
						transform: scale(0.9);
					}
				}
			}
		}
	}
	//FOOTER--------------------------------------//
	footer {
		width: 100%;
		background-color: black;
		.sub-footer {
			max-width: 95%;
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;
			a {
				color: #ffffff;
			}
			p {
				color: #ffffff;
			}
		}
	}
}
